<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Soft_Team.Properties.Settings.Soft_TeamConnectionString"
            connectionString="Data Source=(Local)\SQLEXPRESS;Initial Catalog=Soft-Team;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Soft_Team.Properties.Settings.Soft_Team1ConnectionString"
            connectionString="Data Source=(Local)\SQLEXPRESS;Initial Catalog=Soft-Team1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>